[submodule "bgfx"]
	path = bgfx
	url = git@github.com:BanMing/bgfx.git
[submodule "bx"]
	path = bx
	url = git@github.com:BanMing/bx.git
[submodule "bimg"]
	path = bimg
	url = git@github.com:BanMing/bimg.git
